<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta https-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../client/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../client/js/index.js"></script>
</head>

<body ng-controller="Controler">
  <header >
    <div id="signin">
      <a href="../client/signin&up.html">Sign in/Sign up</a>
    </div>
    <div id="signout">
      Hello <script type="text/javascript">
              document.write(sessionStorage.getItem("username"));
            </script>
      <a href="#" onclick="signout()"> Sign Out</a>
    </div>
  </header>
  
<center>
    <div id="profile">
        <table>
            <tr>
                <td valign="top">
                    <fieldset>
                        <legend>Get Weather Info</legend>
                        <div><input type="text" name="city" id="city" placeholder="City Name" required></div>
                        <img src="{{pic}}" width="100" height="100"></img>
                        <h3>{{temp}}</h3>
                        <h3>{{min}}</h3>
                        <h3>{{max}}</h3>
                        <h3>{{main}}</h3>
                        <h3>{{pre}}</h3>
                        <h3>{{hum}}</h3>
                        <div><input type="submit" value="Search" id="search"></div>
                        <div><input type="button" value="Add to favour list" id="add"></div>
                    </fieldset>
                </td>
                <td valign="top">
                    <fieldset>
                        <legend>Favour list</legend>
                        <div ng-repeat="favour in favours">
                          <h3>{{favour[0]}}</h3>  
                        </div>
                        <h3></h3>
                        <div><input type="button" value="Delete all" id="delete"></div>
                    </fieldset>
                </td>
                <td valign="top">
                    <fieldset>
                        <legend>My Information</legend>
                        <h3>{{username}}</h3>
                        <h3>{{name}}</h3>
                        <h3>{{email}}</h3>
                        <h3>{{password}}</h3>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    </center>
  <script type="text/javascript">
    // Clear the session when user sign out
    function signout(){
        sessionStorage.clear();
        document.getElementById('signin').style.display="block";
        document.getElementById('signout').style.display="none";
        window.location.reload(); 
    }
  </script>
</body>

</html>
